<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- #each 'name' pass through from render . i.e celebrity-routes.js 
res.render('celebrities/details-view',{ celebrity: oneCelebrityFromDb}); {celebrity: } matches #each celebrities --}} 

<a href=" /celebrities/">show celebrities </a>